

<div id="garden_store">
	<div id="plant_store">
		<div id="plant_store_header">
			<h1>Plant Mart</h1>
			<div id="availableNumPoints">Available: <%=@logged_in_user.avail_points%> points</div>
		</div>
		<ol class="plantStoreInventory clearfix">
			<% @plant_templates.each do |plant_template| %>
			<li>
			  <div id="plant" class="PlantForSale contentBox gridBox <%if @logged_in_user.avail_points < plant_template.cost%>unaffordable<%end%>">
				<div id="plant_image" class=>
				  <%=
				    image_tag("plants/#{plant_template.thumbnail}",
					  :title => plant_template.description )
			      %>
				</div>
				<div id="plant_info"><%=h plant_template.name %></div>
				<div id="plant_buy"><%= button_to plant_template.cost.to_s + " pts", :action=>:buy, :id=>plant_template.id %></div>
				<div class="clear"></div>
			  </div>
			  <div id="divider"></div>
			</li>
			<% end %>
		</ol>
	</div>
</div>

<script>
	//Try to buy this plant, for planting at position x,y in the garden
	function buy(plantId, x, y)
	{
		if(plantId > 0 && x > 0 && y > 3 && x < 9 && y < 7)
			window.location.replace('/store/buyAndSave/' + plantId + '?x=' + x + '&y=' + y);
		else
			alert("We have a suspicion you're not green enough. Sorry, no plants for you.");	//TODO: agrandhi
	}
</script>
