<div class="IntroChallenge">
	<h1><%=h @mission.title%></h1>
	
	<p>
	  <%=h @mission.reward %>
	</p>
	
	<%if @not_logged_in%>
	<p>
		Great work on doing your part for the environment! But there's so much more we can do. Log in or create your free account today to plant the trees you have earned and see what you can build. Log in or create your account here ==>
	</p>
	<%else%>
		<%= button_to "Give me a different mission!", :action=>:start%>
	<%end%>	
</div>

