<%= render :partial => 'shared/html_head'%>
<div class="mainContent centered">
	<div style="height: 25px;"></div>
	<%= yield :layout%>
	<div class="clear footerHeight"></div>
</div>
<%= render :partial => 'shared/footer'%>
<%= render :partial => 'shared/html_tail'%>