<h1>Your garden</h1>

<%@garden.plots.each do |plot|%>
	<h2>Layer ID: <%=plot.layer_id%></h2>
	<table border="1">
	<%@garden.size_y.times do |y|%>
		<tr>
			<%@garden.size_x.times do |x|%>
				<td>
					<%plant = plot.plants.find_by_x_and_y(x,y)%>
					<%if plant != nil%>
						<%=plant.name%>
					<%else%>
						X
					<%end%>
				</td>
			<%end%>
		</tr>
	<%end%>
	</table>
<%end%>

<% %><%= button_to "Back to your profile", :controller=>:users, :action=>:stats%>
<%= button_to "Purchase plants", :controller=>:store, :action=>:view %>