.headerLinks #myHome {
	background-color: #5E985A;
}
.headerLinks #myHome a {
	color: #FFF;
}

.navigation{
	width: 200px;
	text-align: center;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.navigation_box{
	border: 1px solid #669966;
	background: #88BB88;
	padding-top: 40px;
	padding-bottom: 40px;
}

span.name{
	font-weight: bold;
	font-size: 1.5em;
}

.enter_name{
	font-size: 0.75em;
}

#overlappingRightCol {
	position: relative;
	min-height: 350px; /* for garden */
}

#overlappingRightCol #miniGarden {
	position: absolute;
	top: 0;
}
#overlappingRightCol #miniGarden .Garden {
	zoom: 47%;
}

#overlappingRightCol #missionDetails {
	position: relative;
	z-index: 2; /* above garden */
}