#myGarden {	
	background-color: #5E985A;
}
#myGarden a {
	color: #FFF;
}

.Garden {
	position: relative;
	background:url('../images/Backgrounds/GardenBackgroundSmall.jpg') no-repeat;
	width: 690px; 
	height: 533px;
	float: left;
}

.Garden .grounds {
	position: absolute;
	bottom: 15px;
	width: 621px;
	left: 50%;
	margin-left: -313px;
}

.gardenStats {
	float: right;
	width: 215px; 
	background: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	margin-bottom:15px;
}

#history ol {list-style: none;
padding-left: 0px;
}

.history {
	float: right;
	width: 215px; 
	background: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	margin-bottom:15px;
	text-align:center;
}
ol {list-style:none;} 

#myGarden {
	background-color: #5E985A;
}
#myGarden a {
	color: #FFF;
}
.submenu_item {
	min-width: 75px;
	color: #000;
	float: left;
	text-align: center;
}
.submenu_item a {
	text-decoration: none;
	color: #000;
}
.submenu_item a:hover {
	color: #FFF;
}
#submenu_garden {
	color: #FFF;
}
.Garden .ground {
	width: 77px;
	height: 75px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	position: relative;
}
.Garden .ground.highlighted {
	border-bottom: 1px dotted black;
	border-left: 1px dotted black;
	opacity: 0.5;
	background: #CEF;
	cursor: hand; 
	cursor: pointer;
}
.Garden .ground.highlighted:nth-child(8n) {
	border-right: 1px dotted black;
}
.Garden .ground.highlighted:nth-child(1),
.Garden .ground.highlighted:nth-child(2),
.Garden .ground.highlighted:nth-child(3),
.Garden .ground.highlighted:nth-child(4),
.Garden .ground.highlighted:nth-child(5),
.Garden .ground.highlighted:nth-child(6),
.Garden .ground.highlighted:nth-child(7),
.Garden .ground.highlighted:nth-child(8) {
	border-top: 1px dotted black;
}
.Garden .ground.highlighted:hover {
	background: #CFE;
}
.plant_in_garden {
	position: absolute;
	bottom: 0;
}
.plant_in_garden img {
	opacity: 0.9;
}
.plant_in_garden img:hover {
	opacity:1;
}
.clear {clear:both;}

ol.plantStoreInventory {
	
}
.PlantForSale {	
	width: 120px;
	text-align: center;
}
.PlantForSale img {
	height: 50px;
	width: auto;
}
.PlantForSale.unaffordable input[type="submit"] {
	background: #fdb;
	color: gray;
}
.PlantForSale.unaffordable input[type="submit"]:hover {
	text-decoration: line-through;
}