html, body {
	margin:0;
	padding:0;
	height: 100%;
	background: #b2e67d;
	font-family: "Verdana", "sans-serif";
}

body {
	position: relative;
}

body > div.fullHeightPage {
	position: relative;
	min-height: 100%;
}

div.mainContent {
	width: 940px;
	min-height: 100%;
	padding: 0 25px;
}

a:link,
a:visited,
a:hover,
a:active { color: #0903ff }

/******************************************************************************
	Header
******************************************************************************/

div.header {
	width: 1024px;
	margin: auto;
	overflow: hidden;
}

#spacer {
	min-width: 15px;
	float: left;
}

#logo {
	min-width: 300px;
	min-height: 55px;
	margin: 10px 0 0 25px;
	overflow: hidden;
	float: left;
}

#register {
	float: left;
	padding: 6px 10px 0 0;
	color: #FFF;
}

#register a, #register a:visited {
	color: #FFF;
}

#register a:hover {
	color: #ffffff;
}

#signin {
	float: right;
	padding: 5px 3px 0 0;
}

.headerLinks {
	width: 450px;
	height: 65px;
	text-align: center;
	margin: auto;
	float: right;
	padding-right: 20px;
}

.headerLinks a, .headerLinks a:visited {
	font-size: large;
	font: Lucida Sans Unicode;
	text-decoration: none;
	color: #000;
}

.headerLinks a:hover {
	color: #ffffff;
}

.headerLink {
	min-width: 100px;
	min-height: 40px;
	line-height: 25px;
	float: left;
	padding-top: 5px;
	margin-top: 25px;
	text-align: center;
}

#header-avatar {
	height: 80px;
}

/******************************************************************************
	Footer
******************************************************************************/

.footerHeight { height: 70px; }
.footer {
	position: relative;
	width: 100%;
	margin-top: -50px;
	height: 50px;
	background: white;
	text-align: left;
	overflow: none;
}
.footer .copyright {
	float: right !important;
	padding: 1em;
	color: #b2e67d
}
.footer .links > * {
	text-align: center;
	margin: 1em 0;
	padding: 0 2em;
	border-left: 1px solid #273;
}
.footer .links > *:first-child { border-left: none; }
.footer .links a:link,
.footer .links a:visited,
.footer .links a:hover,
.footer .links a:active {
	color: #273;
	text-transform:uppercase;
	text-decoration: none;
}
.footer .links a:hover,
.footer .links a:active {
	text-decoration: underline;
}

/******************************************************************************
	Common/Utility Styles
******************************************************************************/

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.centered {
	margin-left: auto !important;
	margin-right: auto !important;
}
.contentBox {
	background: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	margin-bottom:15px;
}
.contentBox.bgNone {
	background: none;
	border: none;
}
.contentBox.bgGray, .contentBox.bgGrey {
	background: #ddd;
}

div.loginModule {
	float: right;
	position: absolute;
	top: 350px;
	right: 50px;
	width: 200px;
	text-align: left;
	background: white;
}

#selectAvatar {
	padding: 5px;
}

div.flash_notice {
	border: 1px solid black;
	padding: 2px 10px 2px 10px;
	margin-bottom: 10px;
}

div.flash_warning {
	border: 1px solid orange;
	padding: 2px 10px 2px 10px;
	margin-bottom: 10px;
}

div.flash_error {
	border: 1px solid red;
	padding: 2px 10px 2px 10px;
	margin-bottom: 10px;
}

button,
input[type="submit"] {
	margin-top: 15px;
	border: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 20px;
	background: #af7;
	color: black;
	font-family: "Gill Sans", "Verdana", sans-serif;
	font-size: large;
	font-weight: bold;
	cursor: pointer;
}

/******************************************************************************
	Common/Utility Styles
******************************************************************************/

h1, h2, h3 { margin-top: 0 }

/******************************************************************************
	Easy-peasy proportional inline boxes
******************************************************************************/

.halfWidth { float:left; width:50%; }
.halfWidth.left > *,
.line > .unit.left > * { margin-right: 10px; }
.halfWidth.right > *,
.line > .unit.right > * { margin-left: 10px; }

.line .unit { float: left; }
.line .half, .line .w1of2 { width: 50%; }
.line .w1of5 { width: 20%; }
.line .w2of5 { width: 40%; }
.line .w3of5 { width: 60%; }
.line .w4of5 { width: 80%; }
.line .lastUnit {
	display: table-cell;
	float: none;
	width: auto;
}
.line::after, .line .lastUnit::after {
	clear: both;
	display: block;
	visibility: hidden;
	overflow: hidden;
	height: 0 !important;
	line-height: 0;
	font-size: xx-large;
	content: " x x x x x x x x x x x x x 
}