body {
	background-color: #99CC99;
	background-image: url('/images/heroes_header_slice.gif');
	background-repeat: repeat-x;
	background-position: top left;
}

div.heroesBanner {
	position:absolute;
	top:0px;
	width: 100%;
	text-align: center;
}

div.mainContent {
	position:absolute;
	top:400px;
	width: 100%;
}

div.loginModule {
	float: right;
	position: relative;
	top: 300px;
}