div.IntroChallenge{
	text-align: center;
	width: 100%;
}

div.MissionTitle{
	text-align: center;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-size: 20px;
	font-weight: bold;
	
}

div.MissionText{
	text-align: center;	
}