<%if request.xhr?%>
	<%=render :partial => 'shared/login_module'%>
<%else%>
	<div class="user-login">
		<fieldset>
			<legend>Please log in</legend>
			<% form_tag do %>
			<p>
				<label for="email">Email:</label>
				<%= text_field_tag :email, params[:email] %>
			</p>
			
			<p>
				<label for="password">Password:</label>
				<%= password_field_tag :password, params[:password] %>
			</p>
			
			<p>
				<%= submit_tag "Login" %>
			</p>
			<% end %>
		</fieldset>
	</div>
<%end%>