<%-content_for :head_content do %>
	<%= stylesheet_link_tag 'mission_search_box' %>
<% end-%>
<div class="search_box">
	<h2>Mission Search</h2>
	<%search_term ||= ''%>
	<%form_tag :action=>'search' do%>
		<%=text_field_tag 'search_text', search_term, :size=>50%><br/>
		<%=submit_tag "What missions await?"%>
	<%end%>	
</div>