%p
  Congratulations!  Your heroic efforts saved
  = mission_status.mission.points
  kittens!
  %p
  = mission_status.mission.task

%div
  %div#dialog_timeleft.sidebar.contentBox.bgGray

#dialog_share
  Share on Facebook

.clear

#bottombar
  %p
    =link_to "More Missions", find_mission_path
    =link_to "Home", root_path
