<%
	world ||= nil
	case world
		when :home then
			world_title = "Home world"
			world_description = "Wondering how you could save the environment at home? Well you are in the right place! In fact, conserving the environment starts right in your living room!"
			unlock_text = "Vines, garden chairs, lawn mower and many more!"
		when :light then
			world_title = "Light world"
			world_description = "<p>Saving the environment is fun isn't it? Looking for more of a challenge? Well look no further! Light world contains many more hours of lighting funs! Spend hours in the dark! Light a camp fire! Do your part to save the world!*</p><p>* &lt;Insert company name&gt;,Inc is not liable for any bodily harm that may result from the given missions. Please use your own discretion and caution when attempting foolish or dangerous endeavors. However, note that with great risk, comes great rewards :)</p>"
			unlock_text = "Solar panels, lamp posts, venus fly-traps, moths, and many more!"
		when :carbon then
			world_title = "Carbon world"
			world_description = "As Al Gore pointed out, we will soon run out of charting space if we keep plotting our carbon emissions at the current rate. It's time someone ought to do something about this. Yea, I am talking about you! Look, these missions aren't terribly hard, and you will get some pretty neat rewards too. It's worth it... trust me ;)"
			unlock_text = "Hydraulic powered crane, trees(!), monarch butterflies, birds nest fern and many more!"
		when :garden then
			world_title = "Garden world"
			world_description = "Placeholder text"
			unlock_text = "Garden gnomes"
		when :party then
			world_title = "Party world"
			world_description = "Even when you are having fun, we want you to think about the environment. Yep... all those paper plates you are handing out could buy you a really spiffy plant for your garden *wink* wink*. Tell you what, have a look at these missions, and I am sure you will find something you like!"
			unlock_text = "Party balloons(!), lawn chairs, pool, hummingbirds and many more!"
		when :water then
			world_title = "Water world"
			world_description = "Could you go a day without drinking water? Heh, I figured as much... Well, unfortunately, sooner or later, we are going to run out of water for everyone. So either we do something to conserve this precious resource or we better learn to drink less water quick!"	
			unlock_text = "Ponds, water lilies, cat tails, guppies, dragon flies and much more!"
		when :savana then
			world_title = "Savana"
			world_description = "Placeholder text"
			unlock_text = "Elephants"	
		when :farm then
			world_title = "EcoFarm"
			world_description = "Placeholder text"
			unlock_text = "Corn"
		when :coast then
			world_title = "The Coast"
			world_description = "Placeholder text"
			unlock_text = "Mold"
		when :jungle then
			world_title = "The Jungle"
			world_description = "Placeholder text"
			unlock_text = "Chimpanzees"
		when :paradise then
			world_title = "Paradise"
			world_description = "Placeholder text"
			unlock_text = "Treant"
		when :techno then
			world_title = "Technocity world"
			world_description = "Imagine the perfect eco-friendly utopia! Man and nature living in perfect harmony! Yep, and it all starts with you... today... like, right now. What are you looking at? Get up now and start laying me some compostable bricks! Double time!"
			unlock_text = "Green skyscraper (really!), personal spaceship (carbon-neutral), pet monkey and many more!"
	end
%>
<div style="padding: 5px;">
	<b><%=world_title%></b>
</div>
<div style="padding: 10px;background-color: #AADDAA;color:black;">
	<%if !world.nil?%>
		<span style="color:gray;">Not Available</span>
	<%end%>
	<p>
		<%=world_description%>
	</p>
	<p>
		<b>Unlocks:</b>
		<%=unlock_text%>
	</p>
</div>
