<div class="css_popup <%if world_mission.link_css_left > 500%>popup_left<%else%>popup_right<%end%>">
	<div style="padding: 5px;">
		<b><%=world_mission.name%></b>
	</div>
	<div style="padding: 10px;background-color: #AADDAA;color:black;">
		<p>
			<span style="color:gray;">Click to begin</span>
		</p>
		<p>
			<%=world_mission.description%>
		</p>
		<p>
			<b>To unlock:</b>
			<ul>
				<%world_mission.get_unlock_missions.each do |mission|%>
					<li><%=mission.title%></li>
				<%end%>
			</ul>
		</p>
		<p>
			<b>Unlocks:</b>
			<%=world_mission.unlockable_text%>
		</p>
	</div>
</div>