<%= render :partial=>'shared/display_flashes'%>

<div class="line">
	<div class="unit w3of5 left">
		<div class="contentBox">
				<%=render :partial=>'my_missions_box'%>
		</div>
	</div>
	
	<div class="unit w2of5 right" id="missionDetails"></div>
</div>