<%-content_for :head_content do %>
	<%= stylesheet_link_tag 'mission_search' %>
<% end-%>
<div class="left_box">Helping at home</div>
<div class="center_box">
	<%=render :partial=>'mission_search_box'%>
	<div class="advisor_box">
		Ask advisors
	</div>
</div>
<div class="right_box">Explore your world</div>

	