<%-content_for :head_content do %>
	<%= javascript_include_tag 'jquery-1.6.2.min' %>
<% end-%>
<%= render :partial=>'shared/display_flashes'%>

<div class="line">
	<div class="unit w3of5 left">
		<div class="contentBox">
                  <%= render :partial => 'mission_search_box', :locals=>{:missions=>@missions} %>
		</div>
	</div>
	
	<div class="unit w2of5 right">
		<div id="missionDetails"></div>
		<div id="missionDetailsSpinner" class="spinnerWidget" style="height: 200px;">
			<div class="spinner"></div>
		</div>
	</div>
</div>
