<div class="IntroChallenge">
	<div class="MissionTitle">Can a group of internet users be heroes?</div>
	<div class="MissionText">Can we work together to reduce our total carbon emissions by 10,000 tons?<br/>
	(that would be like tearing down 10 coal plants! Or like planting 10,000 fir trees that grows for 10 years!)<br/>
	Help us answer this question, starting right now.</div>
	<%= button_to "Your first mission", :action=>:start%>
</div>
YAY 