<style>
	body {
		background:url('../images/Backgrounds/SplashMockup.jpg') no-repeat;
		overflow: hidden;
	}
	.header {
		display: none;
	}
	#splash_login {
		position: relative;
		left: 37%;
		padding-top: 4px;
		height: 120px;
		width: 280px;
		color: #FFF;
	}
	#splash_login_txt {
		font-weight: bold;
	}
	#splash_login #email, #splash_login #password {
		padding: 4px 0 4px 0;
		margin: 7px 0 3px 0;
	}
	
</style>
<br><br><br><br><br>
<% form_tag :controller => "account", :action => "login" do%>
	<div id="splash_login">
		<div id="splash_login_txt">LOGIN: </div>
		Username :&nbsp;&nbsp; <%= text_field_tag :email, params[:email] %>
		Password :&nbsp;&nbsp; <%= password_field_tag :password, params[:password] %>
		<div class="clear"></div>
		<div id="signin"><%= submit_tag "Sign In" %></div>
		<div id="register">Not a hero yet?  <a href="/account/register/">Register</a>!</div>
	</div>
<% end %>

