<style>
	#history {background:#fff; border-radius:16px; text-align:center;}
	#history > ol {list-style:none; 
</style>
<div id="history">
	<h3>History</h3>
	<ol>
	<%@completed_missions.each do |missionStatus| %>
		<li>
			<div>
				<%=missionStatus.mission.title%>
			</div>
			<div>	
				<%=missionStatus.updated_at.to_date%> - <%=SimulationUtilities.pointsToCo2InKg(missionStatus.mission_points)%> kg C02
			</div>
		</li>
	<%end%>
	<ol>
</div>
