	<%= stylesheet_link_tag 'garden' %>
	
<div id="history">
	<h3>Mission History</h3>
	<ol>
	<%@completed_missions.each do |missionStatus| %>
		<li>
			<div>
				<strong> <%=missionStatus.mission.title%> </strong>
			</div>
			<div>	
				<%=missionStatus.updated_at.to_date%> - <%=SimulationUtilities.pointsToCo2InKg(missionStatus.mission_points)%> kg C02
			</div>
		</li>
	<%end%>
	<ol>
</div>
