<div class="missionInABox">
	<div class="sidebar contentBox bgGray">
		<img class="icon" width="48" height="48" src="http://a.fsdn.com/con/icons/fl/flowersaver@sf.net/Flower%20Saver%20Icon.png" />
		<div class="carbon">25 lbs CO2</div>
		<div class="points">20 points</div>
	</div>
	<h3><%= mission.title %></h3>
	<span class="copy">
		<%= mission.task %>
	</span>
	<div class="clear"></div>
	<button>Let's do it!</button>
</div>

<style>
	.missionInABox {
		width: 100%;
	}
	.missionInABox .sidebar {
		float: right;
		width: 100px;
		text-align: center;
	}
</style>