<div id="totalSavings">
	<% @totalPoints = 0 %>
	<%@completed_missions.each do |missionStatus| %>
		<% @totalPoints = @totalPoints + missionStatus.mission_points%>
	<%end%>
	<%= SimulationUtilities.pointsToBiomassInKg(@totalPoints) %>kg of Biomass
    (<%= SimulationUtilities.pointsToCo2InKg(@totalPoints) %>kg of C02)
</div>