<div id="totalSavings">
	<% @totalPoints = 0 %>
	<%@completed_missions.each do |missionStatus| %>
		<% @totalPoints = @totalPoints + missionStatus.mission_points%>
	<%end%>
	<strong> <%= SimulationUtilities.pointsToBiomassInKg(@totalPoints) %>kg</strong> of Biomass
    (<strong><%= SimulationUtilities.pointsToCo2InKg(@totalPoints) %>kg</strong> of C02)
</div>