
	<div class="adminHeader">
		<div class="adminHeaderContent">
		Mission Administration
		</div>
		<div class="adminHeaderLinks">
			<div id="showMissions" class="adminHeaderLink"><%=link_to "Mission list", :controller=>:missions, :action=>:index%></div>
			<div id="addMissions" class="adminHeaderLink"><%=link_to "Add new mission", :controller=>:missions, :action=>:new%></div>
			<div id="goHome" class="adminHeaderLink"><%=link_to "Leave mission admin", :controller=>:account, :action=>:home%></div>
		</div>
	</div>
	<div class="clear"></div>
