<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><%=@title ||= "Heroes in Green"%></title>
		<%#= stylesheet_link_tag 'heroesInGreen' %>
		<%#=javascript_include_tag :defaults%>
		<%=javascript_include_tag "prototype.js"%>
		<%= yield :head_content %>
	</head>
	<%body_id ||= nil%>
	<body <%if body_id%>id = "<%=body_id%>"<%end%>>


