<style>
	#signupHomeLogo {
		width: 300px;
		height: 110px;
	}
	#error_messages {
		height: 40px;
		margin: 30px 0 0 25px;
	}
	#signupEmail_submit {
		position: relative;
		float: right;
		margin-top: 5px;
	}
	#signupEmail_email {
		width: 175px;
		margin-left: 22px;
		border: 1px red solid;
	}
	.flash_notice {
		border: none !important;
		margin: 15px 0 0 0px !important;
	}
	#errorExplanation h2, #errorExplanation p, .flash_error {
		display: none;
	}
	#errorExplanation ul {
		list-style-type: none;
		padding-left: 0px !important;
	}
	
	.progress, .challenge, #info_sign_up { margin: 10px; }
	
	
	.challenge {
		text-align: center;
	}
	.challenge h2 { margin: 0; }


	.progress { 
		position: relative;
		width: 480px;
		margin-top: 50px;
		text-align: center;
	}
	.progress h3 {
		font-weight: bold;
		margin: 0;
	}
	.progress > * {
		z-index: 2;
		position: relative;
	}
	.progress p { margin-bottom: 0; }
	.progress > .progressBar {
		display: block;
		position: absolute;
		z-index: 1;
		top: 5px;
		left: 5px;
		height: 77px;
		background: #ee7;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 10px;
	}
</style>


<div class="centered" style="width: 800px;">
	<div class="half">
		<div class="challenge contentBox">
			<h2>We can all be heroes.</h2>
			<p>Together, we can change the world for the better. How much better?</p>
			<p>
				<span style="font-size:xx-large">One million pounds</span><br>
				<span style="font-size:x-large">of carbon dioxide better.</span>
			</p>
			<p style="p30">Can we do this, working together?</p>
			
			<button>Join us</button>
		</div>
	</div>
	<div class="half">
		<div id="info_sign_up" class="contentBox">
			<p>Heeeeeey hello there, give us your email address because we need to <em>start making money</em>. Notice that we have no privacy policy lol.</p>
			<%form_for :signupEmail, @signupEmail do |f|%>
				<div id="error_messages">
					<%= render :partial=>'shared/display_flashes'%>
					<%= f.error_messages %>
				</div>
				<%= f.text_field :email %>
				<%= f.submit 'Sign Up' %>
			<%end%>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="progress centered contentBox clear">
	<h3>Our collective progress:</h3>
	<p>642,156 pounds (out of 1,000,000 pounds)</p>
	<span class="progressBar" style="width: 64%">&nbsp;</span>
</div>

<script>
	Event.observe('signupEmail_email', 'focus', function(event) {
   		$('signupEmail_email').value = '';
		Event.stopObserving('signupEmail_email', 'focus');
	});
</script>