How do you wanna represent yourself? Pick an avatar that you like the most.

<br><br>

<%Dir.foreach(RAILS_ROOT + "/public/images/Avatars/thumbs") do |f|%>
	<%if f == "." or f == ".."%>
	<%else%>
		<span id="selectAvatar">
			<%=link_to image_tag("Avatars/thumbs/#{f}",:border=>0), :controller=>:account, :action=>:setAvatar, :img=>f %>
		</span>
	<%end%>
<%end%>

