<h1>Change Password</h1>

<% form_for :user, @user do |f| %>
  <%= f.error_messages %>
  <p>
    New password<br />
    <%= f.password_field :password %>
  </p>
  <p>
	Confirm password<br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Change' %>
  </p>
<% end %>
