<h1>Quest Log</h1>

<div class="line">
  <div class="unit w3of5 left">
    <div class="contentBox">
      <%=render :partial => 'mission_game/my_missions_box', :locals => {:missions => @missions}  %>
    </div>
  </div>

  <div class="unit w2of5 right" id="missionDetails"></div>
</div>
